### Next part of the file is managed by a different template ###
## Module:           '<%= scope.to_hash['module_name'] %>'
<% module_paths =  Puppet::Node::Environment.current[:modulepath].split(':').map{|i| File.expand_path(i) }.join("|") -%>
## Template source:  'MODULES<%= template_source.gsub(Regexp.new("^#{module_paths}"),"") %>'

[master]
    autosign       = $confdir/autosign.conf { mode = 664 }
    reports        = <%= scope.lookupvar("puppet::server::reports") %>
<% if scope.lookupvar("puppet::server::reporturl") -%>
    reporturl      = <%= scope.lookupvar("puppet::server::reporturl") %>
<% end -%>
<% if scope.lookupvar("puppet::server::external_nodes") -%>
    external_nodes = /etc/puppet/external_node
    node_terminus  = exec
<% end -%>
    ca             = <%= scope.lookupvar("puppet::server::ca") %>
    ssldir         = <%= scope.lookupvar("puppet::server::ssl_dir") %>
<% if scope.lookupvar("puppet::server::dns_alt_names") -%>
    dns_alt_names  = <%= scope.lookupvar("puppet::server::dns_alt_names") %>
<% end -%>
<% if scope.lookupvar("puppet::server::storeconfigs_backend") -%>
    storeconfigs   = true
    storeconfigs_backend = <%= scope.lookupvar("puppet::server::storeconfigs_backend") %>
<% end -%>

<% if scope.lookupvar("puppet::server::git_repo") -%>
    manifest       = <%= scope.lookupvar("puppet::server::envs_dir") %>/$environment/manifests/site.pp
    modulepath     = <%= scope.lookupvar("puppet::server::envs_dir") %>/$environment/modules
    config_version = <%= scope.lookupvar("puppet::server::config_version_cmd") %>
<% else -%>
<% scope.lookupvar("puppet::server::environments").each do |env| -%>
[<%= env %>]
    modulepath     = <%= scope.lookupvar("puppet::server::envs_dir") %>/<%= env %>/modules:<%= [scope.lookupvar("puppet::server::common_modules_path")].flatten.join(":") %>
    config_version = <%= scope.lookupvar("puppet::server::config_version_cmd") %>
<% end -%>
<% end -%>
